language: php

os: linux

php:
  - '7.2'
  - '7.3'
  - '7.4snapshot'

services:
  - mysql

env:
  matrix:
    - DEPENDENCIES="high"
    - DEPENDENCIES="low"
  global:
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

before_install:
  - composer self-update
  - composer clear-cache
  - mysql -e 'CREATE DATABASE IF NOT EXISTS dbunit;'

install:
  - if [[ "$DEPENDENCIES" = 'high' ]]; then travis_retry composer update $DEFAULT_COMPOSER_FLAGS; fi
  - if [[ "$DEPENDENCIES" = 'low' ]]; then travis_retry composer update $DEFAULT_COMPOSER_FLAGS --prefer-lowest; fi

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit -c phpunit-travis.xml

after_success:
  - travis_retry php vendor/bin/php-coveralls -v

notifications:
  email: false

