<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="mysql">
            <directory>tests/Mysql/</directory>
            <exclude>tests/_files/*</exclude>
        </testsuite>
        <testsuite name="pgsql">
            <directory>tests/Pgsql/</directory>
            <exclude>tests/_files/*</exclude>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/Unit/</directory>
            <exclude>tests/_files/*</exclude>
        </testsuite>
    </testsuites>

    <php>
        <!-- <env name="MYSQL_DB_HOST" value="127.0.0.1"/> -->
        <env name="MYSQL_DB_PORT" value="3306"/>
        <env name="MYSQL_DB_NAME" value="dbunit"/>
        <env name="MYSQL_DB_USER" value="root"/>
        <env name="MYSQL_DB_PASSWORD" value=""/>
        
        <!-- <env name="POSTGRES_DB_HOST" value="127.0.0.1"/> -->
        <env name="POSTGRES_DB_PORT" value="5432"/>
        <env name="POSTGRES_DB_NAME" value="postgres"/>
        <env name="POSTGRES_DB_USER" value="postgres"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
